
body, html {
    font-family: arial;
    margin: 0;
    height: 100%;
    background-image: url('http://cdn.ebaumsworld.com/mediaFiles/picture/2093252/83711051.jpg');
    background-position: center;
}
header {
    width: 100%;
    height: 15vh;
    background: black;
    text-align: center;
    background-color: rgba(0,0,0, .7);

}
header h1 {
    margin: 0;
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
    color: white;
    font-size: 3em;
}

/*Main content area/////////////////////////////////////////////////////////////*/
main > .row {
    text-align: center;
    position: relative;
    top: -50%;
}
.row .card {
    display: inline-block;
    height: 24vh;
    width: 14%;
    margin: .3% .9%;
    box-shadow: 5px 5px 10px #888888;
    position: relative;
    vertical-align: top;
    -webkit-transform-style: preserve-3d;
}
.card .back {
    background-color: rgba(0,0,0,.7);
    z-index: 2;
}
.card .front {
    background-color: rgba(0,0,0,.7);
    transform: rotateY(180deg);
}
.front, .back {
    color: white;
    position: absolute;
    backface-visibility: hidden;
    border: solid 1px white;
    border-radius: 15px;
    width: 100%;
    height: 100%;
}
main {
    transform: translate(10%);
    width: 58vw;
    margin: 2% 15% 0 0;
    float: right;
}

/*Card flip handlers/////////////////////////////////////////////////////////////*/
.backFlip {
    transform: rotateY(180deg);
    transition: 1s;
}

/*Inside leftBar/////////////////////////////////////////////////////////////////*/
.leftBar .wrapper .settings {
    font-size: 1em;
    text-align: center;
    text-decoration: underline;
}

.leftBar .wrapper h4 {
    font-size: 165%;
    text-align: left;
    margin-left: 3%;
}
.leftBar .wrapper h3 {
    font-size: 220%;
    text-align: left;
    margin-left: 5%;
}
.reset {
    position: relative;
    transform: translate(-50%);
    left: 50%;
    width: 100px;
    height: 50px;
    color: white;
    background-color: red;
    border: none;
}
.leftBar .wrapper {
    position: relative;
    display: inline-block;
    margin: 0;
    height: 81.5vh;
    width: 100%;
    color: white;
}
.leftBar {
    display: inline-block;
    width: 20%;
    height: 85vh;
    background-color: rgba(0,0,0, .7);
    border: 2px solid white;
    border-top: none;
    border-bottom: none;
}
